@charset "utf-8";

body {
    font-size: 14px;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    color: #1E1E1E;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.inner {
    max-width: 1140px;
    width: 90.625%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 40px auto;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin: 100px 0 50px;
}

h2::before h2::after .mv_text {
    padding: 40px;
    background-color: #fff;
    width: 343px;
}

.eyecatch {
    font-size: 36px;
    font-weight: 500;
}

.sub_title {
    margin-bottom: 30px;
}

.mainvisual {
    background: url(/LEVEL.5/images/bg_main.png) no-repeat center center;
    padding: 240px 0 80px;
}

main p {
    margin: 20px 0;
}

main ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
}

main li {
    background-color: #F5F5F5;
    font-size: 12px;
}

main article {
    margin-bottom: 100px;
}

footer {
    padding: 100px 0;
    color: #fff;
    background: #1E1E1E;
    text-align: center;
}

footer ul {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px 0;
    text-align: start;
}

.border {
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
    padding: 20px 0;
}

.company {
    margin-bottom: 100px;
    ;
}

@media (min-width:640px) {
    .discussion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
    }

    footer ul {
        margin-left: 300px;
        margin-right: 300px;
    }
}